body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue;
}

.header {
  background-color: white;
  padding: 1em;
  margin: 0.5em 0;
}

.nav {
  background-color: white;
  padding: 0.5em;
  margin: 0.5em 0;
}

.content {
  background-color: white;
  padding: 1em;
  margin: 0.5em 0;
}

.entry {
  border: 2px solid black;
  background-color: gainsboro;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.comment {
    background-color: floralwhite;
    margin: 0.2em 0.2em;
    padding: 0.3em 0.3em
}

h1, h2 {
    margin: 0;
}

.discussion {
  background-color: white;
  padding: 1em;
  margin: 0.5em 0;
}

.message {
  border: 1px solid gray;
  background-color: ivory;
  padding: 1em;
  margin: 0.5em 0;
}

.flash {
  -webkit-text-fill-color: white;
  text-shadow: 1px black;
  background-color: red;
  padding: 0.1em 1em;
  margin: 0.1em;
}