<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Error</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <p>
      Encountered an error: {{ reason }}
    </p>
    <p>
      <a href="{{ site }}">Back</a>
    </p>
  </div>
</body>

</html>