<!DOCTYPE html>
<html>

<head>
  <title>Find entry</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Find entry</h1>
  </div>
  <div class="nav">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <form action="/find_entry" method="get">
      <p>
        <label for="query">Keyword</label>: <input id="query" type="text" name="query" value="{{ query }}">
        {% if order == "1" %}
        <input id="order1" type="radio" name="order" value="0"><label for="order1">newest first</label>
        <input id="order2" type="radio" name="order" value="1" checked><label for="order2">oldest first</label>
        {% else %}
        <input id="order1" type="radio" name="order" value="0" checked><label for="order1">newest first</label>
        <input id="order2" type="radio" name="order" value="1"><label for="order2">oldest first</label>
        {% endif %}
      </p>
      <input type="submit" value="Search">
    </form>

    <p>
      <a href="/">Back</a>
    </p>
  </div>
  {% if query %}
  <div class="content">
    <h2>Results</h2>


    {% for entry in results %}
    <div class="entry">
      <a href="/entry/{{ entry.id }}">
      {{ entry.title }} by {{ entry.artist }}
      </a>
      in <a href="/user/{{ entry.user_id }}">{{ entry.username }}</a>'s collection
    </div>
    {% endfor %}
    <form action="/find_entry" method="get">
      <input type="hidden" name="query" value="{{ query }}">
      <input type="hidden" name="order" value="{{ order }}">
      <p>
        {% if page != 1 %}
        <input type="submit" name="page" value="{{ page - 1 }}">
        {% endif %}
        {{ page }}/{{ page_count }}
        <input type="submit" name="page" value="{{ page + 1}}">
      </p>
    </form>
  </div>
  {% endif %}
</body>

</html>