<!DOCTYPE html>
<html>

<head>
  <title>Manage images</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Manage images</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/entry/{{ entry.id }}">Back to entry</a>
      |
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    {% if session.user_id == entry.user_id %}
    <h2>{{ entry.title}} by {{ entry.artist }}</h2>
    <form action="/add_image" method="post" enctype="multipart/form-data">
      <p>
      <label for="image">Image</label>: <input id="image" type="file" name="image" accept=".png" required />
      </p>
      <p>
        <label for="alt">Alt text</label>: <input id="alt" type="text" name="alt" size="50" required>
      </p>
      <input type="hidden" name="entry_id" value="{{ entry.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Add image" />
    </form>
    <p>This entry has {{ images | count }} images</p>
    <form action="/remove_images" method="post">
      {% for image in images %}
      <input type="checkbox" id="{{ image.id }}" name="image_id" value="{{ image.id }}">
      <label for="{{ image.id }}">
        <img style="max-width: 300px; max-height: 300px;" src="/image/{{ image.id }}" alt="Image: {{ image.alt }}" />
      </label>
      {% endfor %}
      <input type="hidden" name="entry_id" value="{{ entry.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Remove selected images" />
    </form>
    {% endif %}
  </div>
</body>

</html>