<!DOCTYPE html>
<html>

<head>
  <title>Musict - Collect your music</title>
</head>

<body>
  <h1>Musiket</h1>

  {% if session.username %}
  <p>
    Logged in as {{ session.username }}
  </p>

  <p>
    <a href="/logout">Log out</a>
  </p>

  <p>
    <a href="/new_entry">Add music to your collection</a>
  </p>

  {% else %}
  <p>
  <a href="/login">Log in</a>
  <a href="/register">Register</a>
  </p>
  {% endif %}

  <p>
    <a href="/find_entry">Find entries</a>
  </p>

  <h2>Recent entries</h2>

  <ul>
    {% for entry in entries %}
    <li>{{ entry.username }} added
      <a href="/entry/{{ entry.id }}">{{ entry.title }}</a>
      by {{ entry.artist }} to their collection.
    </li>
    {% endfor %}
  </ul>
</body>

</html>