<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
</head>

<body>
  <h1>Log in</h1>
  {% if session.username %}
  <p>
    Already logged in as {{ session.username }}
  </p>
  <p>
    <a href="/">Title page</a>
    <a href="/logout">Log out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
</body>

</html>