<!DOCTYPE html>
<html>

<head>
  <title>Log in</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Log in</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    {% if session.username %}
    <p>
      Already logged in as {{ session.username }}
    </p>
    <p>
      <a href="/logout">Log out</a>
    </p>
    {% else %}
    <form action="/login" method="post">
      <p>
        <label for="username">Username</label>:<br />
        <input id="username" type="text" name="username" required maxlength="16" value="{{ filled.username }}"/>
      </p>
      <p>
        <label for="password">Password</label>:<br />
        <input id="password" type="password" name="password" required />
      </p>
      <input type="submit" value="Log in" />
    </form>
    <p>Don't have an account? <br />
    <a href="/register">Register!</a></p>
    {% endif %}
  </div>
</body>

</html>