<!DOCTYPE html>
<html>

<head>
  <title>Add music to your collection</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Add music to your collection</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <form action="/create_entry" method="post">
      <p>
        Title: <br />
        <input type="text" name="title" size="50" maxlength="100" required/>
      </p>
      <p>
        Artist: <br />
        <input type="text" name="artist" maxlength="75" required/>
      </p>
      {% for class in classes %}
      <p>
        {{ class }}: <br />
        <select name="classes">
          <option value="">(Choose)</option>
        {% for option in classes[class] %}
          <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endfor %}
        </select>
      </p>
      {% endfor %}
      <p>
        Comment: <br />
        <textarea name="comment" rows="8" cols="60" maxlength="2500"></textarea>
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Add to collection" />
    </form>
  </div>
</body>

</html>