<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Register</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    {% if not session.username %}
    <form action="/create" method="post">
      <p>
        <label for="username">Username</label>:<br />
        <input type="text" name="username" maxlength="16" required minlength="4" value="{{ filled.username }}"/>
      </p>
      <p>
        <label for="password1">Password</label>:<br />
        <input id="password1" type="password" name="password1" required minlength="4"/>
      </p>
      <p>
        <label for="password2">Confirm password</label>:<br />
        <input id="password2" type="password" name="password2" required minlength="4"/>
      </p>
      <input type="submit" value="Create account" />
    </form>
    {% else %}
    <p>
      Already logged in.<br />
      <a href="/">Front page</a>
    </p>
    {% endif %}
  </div>
</body>

</html>