<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Register</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <form action="/create" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" maxlength="16" required />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password1" required />
      </p>
      <p>
        Confirm password: <br />
        <input type="password" name="password2" required />
      </p>
      <input type="submit" value="Create account" />
    </form>
  </div>
</body>

</html>