<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Register</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    <form action="/create" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password1" />
      </p>
      <p>
        Confirm password: <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Create account" />
    </form>
  </div>
</body>

</html>