<!DOCTYPE html>
<html>

<head>
  <title>Edit entry in your collection</title>
</head>

<body>
  {% if session.user_id == entry.user_id %}
  <h1>Remove entry in your collection</h1>
  <h2>{{ entry.title }} by {{ entry.artist }}</h2>
  <p>Are you sure you want to remove this entry from your collection?</p>
  <form action="/remove_entry/{{ entry.id }}" method="post">
    <input type="submit" name="remove" value="Remove entry">
    <input type="submit" name="cancel" value="Cancel">
  </form>
  {% else %}
  <p>You don't have permission to remove this entry.</p>
  <a href="/">Back</a>
  {% endif %}
</body>

</html>