<!DOCTYPE html>
<html>

<head>
  <title>{{ entry.title }}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>{{ entry.title }}</h1>
    <h2>by {{ entry.artist }}</h2>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    {% if session.user_id == entry.user_id %}
    <p>
      <a href="/images/{{ entry.id }}">Images</a>
      <a href="/edit_entry/{{ entry.id }}">Edit entry</a>
      <a href="/remove_entry/{{ entry.id }}">Remove entry</a>
    </p>
    {% endif %}
    <div class="entry">
      {% if classes %}
      <p>
        About release:
        <ul>
          {% for class in classes %}
          <li>{{ class.title }}: {{ class.value }}</li>
          {% endfor %}
        </ul>
      </p>
      {% endif %}
      {% for image in images %}
      <img src="/image/{{ image.id }}" alt="Image: {{ image.alt }}" />
      {% endfor %}
      <div class="comment">
        <p>User comment:</p>
        <hr />
        <p>
        {{ entry.comment | show_lines }}
        </p>
      </div>
      <p>
        In <a href="/user/{{ entry.user_id }}">{{ entry.username }}</a>'s collection
      </p>
    </div>
  </div>
  <div class="discussion">
    <h2>Discussion</h2>
    {% for message in discussion %}
    <div class="message">
      <p>
        {{ message.username }} ({{ message.sent_at }}):
      </p>
      <hr />
      <p>
        {{ message.content | show_lines }}
      </p>
      {% if message.user_id == session.user_id %}
      <p>
        <a href="/edit_message/{{ message.id }}">Edit</a> |
        <a href="/remove_message/{{ message.id }}">Delete</a>
      </p>
      {% endif %}
    </div>
    {% endfor %}
    {% if session.user_id %}
    <h3>Add to the conversation:</h3>
    <form action="/new_message" method="post">
      <p>
        <label for="content">Message</label>:<br />
        <textarea id="content" name="content" rows="5" cols="40" maxlength="250" required></textarea>
      </p>
      <input type="hidden" name="entry_id" value="{{ entry.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Send message" />
    </form>
    <hr />
    {% endif %}
  </div>
</body>

</html>