<!DOCTYPE html>
<html>

<head>
  <title>{{ user.username }}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
  <h1>{{ user.username }}</h1>
  </div>
  <div class="nav">
    <p>
      <a href="/">Front page</a>
    </p>
  </div>
  <div class="content">
    {% if get_flashed_messages() %}
    <div class="flash">
      {% for message in get_flashed_messages() %}
      <p>
        <b>{{ message }}</b>
      </p>
      {% endfor %}
    </div>
    {% endif %}
    <p>
      User {{ user.username }} has {{ entry_count }} entries in their collection.
    </p>
    {% for entry in collection %}
    <div class="entry">
      <a href="/entry/{{ entry.id }}">{{ entry.title }}</a> by {{ entry.artist }}
      <div class="comment">
        <p>
          {{ entry.comment }}
        </p>
      </div>
    </div>
    {% endfor %}
    <p>
      <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
      Page {{ page }}/{{ page_count }}
      <a href="/user/{{ user.id }}/{{ page + 1 }}">&gt;&gt;</a>
    </p>
  </div>
</body>

</html>